* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header i {
  font-size: 8em !important;
}

header h1 {
  font-size: 1.5em;
  margin-top: 0.67em;
}

nav {
  width: calc(100% - 40px);
  border: 1px solid red;
  background-color: pink;
  margin: 30px 20px;
  padding: 20px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  nav {
    width: 50%;
    margin: 30px auto;
  }
}

nav input {
  padding: 10px;
  border: 0;
  width: 100%;
  outline: 0;
  letter-spacing: .6px;
}

main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    padding: 0;
  }
}

.items-list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .items-list {
    width: 30%;
  }
}

.items-list h3 {
  padding: 1em 0;
}

.items-list i.fa-trash {
  float: right;
  color: red;
  opacity: .3;
  cursor: pointer;
}

.items-list i.fa-trash:hover {
  opacity: 1;
}

.items-list ul {
  list-style-type: none;
}

.items-list ul li {
  padding: 10px;
  margin-bottom: 7px;
  position: relative;
  cursor: pointer;
}

.items-list ul li.striked::after {
  content: "";
  width: calc(100% - 60px);
  height: 1px;
  position: absolute;
  top: 50%;
  left: 30px;
  background-color: #000;
}

.items-list ul li:nth-child(2n) {
  background-color: #efefef;
}

.items-list ul li:nth-child(2n+1) {
  background-color: #f9f9f9;
}

.items-list ul li::before {
  font-family: FontAwesome;
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
  font-size: 1.2em;
}

.items-list ul.list-item-add li::before {
  content: "\f196";
}

.items-list ul.list-item-add li:hover::before {
  content: "\f0fe";
  color: green;
  font-size: 1.148em;
}

.items-list ul.list-item-remove li::before {
  content: "\f146";
}

.items-list ul.list-item-remove li:hover::before {
  content: "\f146";
  color: red;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 50px;
  margin-top: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a.active {
  text-decoration: underline;
}